.connection-property {
  display: flex;
  justify-content: space-between;
}

.connection-property .label {
  font-weight: 700;
  letter-spacing: 2px;

}

.connection-property .value {
  color: #F4F4A2;
}