@import './button.css';
@import './container.css';
@import './connectionProperty.css';

.app-wrapper h1 {
  color: white;
  padding: 0 1em;
}

.button-flex-container {
  display: flex;
  padding: 1em 1.5em;
  gap: 1em;

}

iframe {
 border: 4px solid #2c2c2c;
 border-radius: 8px;
 margin-left: -0.75em;
 margin-right: -0.75em;
 width: 100%;
 height: 600px;
 background-color: #f4f4f4;
}